In [6]:
# Convert char to int
a = '4'
b = ord(a)
print(b)
print(type(b))

52
<class 'int'>

In [8]:
# Find hex value of given int
b = hex(56)
print(b)
print(type(b))

0x38
<class 'str'>

In [10]:
# Convert int to octal
b = oct(56)
print(b)
print(type(b))

0o70
<class 'str'>

In [12]:
x = 'javaTpoint'
y=tuple(x)
print("after converting the string to a tuple: ", end="")
print(y)

after converting the string to a tuple: ('j', 'a', 'v', 'a', 'T', 'p', 'o', 'i', 'n', 't')

In [14]:
y = set(x)
print("after converting the string to a set: ", end="")
print(y)

after converting the string to a set: {'p', 'T', 'n', 'i', 'a', 'j', 't', 'o', 'v'}

In [16]:
y = list(x)
print("after converting the string to a list: ", end="")
print(y)

after converting the string to a list: ['j', 'a', 'v', 'a', 'T', 'p', 'o', 'i', 'n', 't']

In [18]:
a = 7
b = 2
print("sum: ", a+b)
print("diff: ", a-b)
print("mult: ", a*b)
print("div: ", a/b)
print("mod: ", a%b)
print("floor: ", a//b)
print("power: ", a**b)

sum:  9
diff:  5
mult:  14
div:  3.5
mod:  1
floor:  3
power:  49

In [28]:
# Comparison Operators
a=5
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
True
False
False
True

In [30]:
# Logical Operators
a=5
b=6
print((a>2) and (b>=6))
print((a>2) or (b>=6))

True
True

In [32]:
# Identity operators
x1=5
y1=5
x2='Hello'
y2='Hello'
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False